<ion-header>

  <ion-navbar>
    <ion-title>View My Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
      <ion-row>
          <ion-col col-3></ion-col>      
          <ion-col col-6 align-items-center>
              <img src="./assets/imgs/user.png">              
          </ion-col>
          <ion-col col-2>
              
          </ion-col>
        </ion-row>  
        
        <ion-row>
            <ion-col col-2></ion-col>      
            <ion-col col-8>            
                <p class="userName" text-center text-uppercase>{{user.name}}</p>
            </ion-col>
            <ion-col col-2  align-self-start *ngIf="viewOwn">
                <button ion-button icon-only round color="button-special" small block
                (click)="editProfile()">
                  <ion-icon name="md-create"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
  </ion-grid>

  <ion-list>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" disabled="true" [(ngModel)]="user.name" name="name"></ion-input>
      </ion-item>

      <ion-item *ngIf="viewOwn">
        <ion-label>Email</ion-label>
        <ion-input type="text" disabled="true" [(ngModel)]="user.email" name="email"></ion-input>
      </ion-item>
      <!-- NB: IMPORTANT!!! This field can't be modified by user!!! -->

      <ion-item *ngIf="viewOwn">
        <ion-label>Phone number</ion-label>
        <ion-input type="text" disabled="true" [(ngModel)]="user.phone" name="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Location</ion-label>
        <ion-input type="text" disabled="true" [(ngModel)]="user.location" name="location"></ion-input>
      </ion-item>

      <ion-item *ngIf="viewOwn">
        <ion-label>Address</ion-label>
        <ion-input type="text" disabled="true" [(ngModel)]="user.address" name="address"></ion-input>
      </ion-item>

      <ion-item *ngIf="viewOwn">
        <ion-label>Postcode</ion-label>
        <ion-input type="text" disabled="true" [(ngModel)]="user.postcode" name="postcode"></ion-input>
      </ion-item>

  </ion-list>

  <button ion-button quarter-block small align-items-left color="button-yellow" (click)="message()">Message</button>
  <button ion-button quarter-block small align-items-left color="button-red" (click)="changePass()" *ngIf="viewOwn">Change password</button>
  <button ion-button quarter-block small align-items-left color="button-blue" (click)="recentContacts()" *ngIf="viewOwn">Recent contacts</button>
  <button ion-button quarter-block small align-items-left color="button-aqua" (click)="payment()" *ngIf="viewOwn">Payment method</button>

</ion-content>
