<ion-header>
  
    <ion-navbar>
      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <ion-title text-left style="padding: 10px">
              <span *ngIf="!editMode">NEW POST</span>
              <span *ngIf="editMode">EDIT POST</span>
            </ion-title>           
          </ion-col>
          <ion-col  col-3 offset-1 class="right-nav-content">
            <ion-buttons style="height: 100%">
              <button ion-button (click)="close()" style="height: 100%">
                <ion-icon class="fa fa-2x fa-times-circle"></ion-icon>
              </button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </ion-navbar>  
  </ion-header>

  <ion-content padding>
    <form #f="ngForm">
      <ion-item>
        <ion-label stacked>Title <span class="requiredStar">(*)</span></ion-label>
        <ion-input required (change)="touch()" [(ngModel)]="newActivity.activity_info.title" type="text" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Description <span class="requiredStar">(*)</span> </ion-label>
        <ion-textarea required (change)="touch()" type="text" name="details" [(ngModel)]="newActivity.activity_info.details" #textarea="ngModel"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>Location <span class="requiredStar">(*)</span> </ion-label>
        <ion-input required (change)="touch()" [(ngModel)]="newActivity.activity_info.location" type="text" name="location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Requirement <span class="requiredStar">(*)</span></ion-label>
        <ion-input required (change)="touch()" [(ngModel)]="newActivity.activity_info.requirement" type="text" name="requirement"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap fixed style="color: #000">Number of workers needed <span class="requiredStar">(*)</span></ion-label>
        <ion-input required (change)="touch()" [(ngModel)]="newActivity.worker_info.number_of_workers" type="number" pattern="[0-9]*" name="numOfWork"></ion-input>
      </ion-item>
      <ion-item no-lines><ion-label>Working period <span class="requiredStar">(*)</span> </ion-label> </ion-item>
      <ion-item>
        <ion-label>
          From
        </ion-label>
        <ion-input required (change)="touch()" (click)="dateSPicker()" [(ngModel)]="newActivity.period.from" name="dateStart" #datestart></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          To
        </ion-label>
        <ion-input required (change)="touch()" (click)="dateEPicker()" [(ngModel)]="newActivity.period.end" name="dateEnd" #dateend></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked> Tag </ion-label>
        <ion-input (change)="touch()" type="text" [(ngModel)]="newActivity.tags" name="tags"></ion-input>
      </ion-item>  
      <ion-item *ngIf="editMode">
        <ion-label>Mark as done</ion-label>
        <ion-toggle (change)="touch()" [(ngModel)]="workDone" name="workDone"></ion-toggle>
      </ion-item>    
    </form>
    <div *ngIf="!editMode" padding> <!--in edit , cannot replace img-->
      <p class="form-label" *ngIf="img!=null">Upload image</p>
      <img *ngIf="newActivity.activity_info.img!=null" src="{{newActivity.activity_info.img}}"/>
      <div class="img-upload">
        <button ion-button color="button-theme" (click)="uploadPic()">Choose image</button>
        <input (change)="touch()" [(ngModel)]="newActivity.activity_info.img" type="text" name="img" #img>
      </div>    
    </div>
    <div padding *ngIf="!editMode">
      <button ion-button block color="theme" type="submit" (click)="post()" [disabled]="!f.valid">POST</button>
    </div>
    <div padding *ngIf="editMode">
      <button ion-button block color="theme" type="submit" (click)="post()" [disabled]="!f.valid">SAVE</button>
    </div>
  </ion-content>