page-addnewactivity {
    input {
        outline: none;
        border: none;
        width: 80%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    img {
        width: 50%;
        height: 50%;
    }
}
