page-addnewactivity {
    .save {
        font-size: 28px;
    }
    ion-option {
        color: #000;
        width: 40%
    }
    input {
        outline: none;
        border: none;
        width: 80%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    img {
        width: 50%;
        height: 50%;
    }
}
