
<ion-header>
  <ion-navbar>
    <ion-title>Choose a picture</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p class="sub-title" text-wrap>Choose an image for your post or upload one from phone:</p>
  <div *ngIf="choosePicForJob" >
    <ion-card *ngFor="let image of imageList" (click)="choose(image)">
      <img src="{{image}}"/>
    </ion-card> 
  </div> 
  <br>
  <button ion-button color="button-theme" (click)="uploadPic()">Upload picture from device</button>
  <button ion-button color="button-theme" (click)="takePic()">Take new picture</button>
  <br>
  <img src="{{pathForImage(lastImage)}}" style="width: 200px" [hidden]="lastImage === null">
  <br>
  <!--if exists-->
  <div *ngIf="imgLink!=null">
    <p *ngIf="imgCorrectPath!=null">img correct path: {{imgCorrectPath}}</p>
    <p *ngIf="imgCurrentPath!=null"> img current path: {{imgCurrentPath}}</p>
    <p *ngIf="imgNewName!=null">img new name: {{imgNewName}} </p>
    <p *ngIf="imgLink!=null">img link: {{imgLink}}</p>
  </div>
  <button ion-button color="button-theme" [hidden]="lastImage === null" (click)="choose(this.lastImage)">Save</button>
</ion-content>
