<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-2 style="padding-top:10px !important;">
          <add-activity></add-activity>
        </ion-col>
        <ion-col col-10>
          <search-bar></search-bar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
  

<ion-content padding>
  <div class="title">Top Search</div>
  <ion-card *ngFor="let activity of posts" (click)="openDetails(activity)">
    <ion-grid>
      <ion-row>
        <ion-col col-7>
          <p class="activity-title">{{activity.title}}</p>
          <p>{{activity.location}}</p>
          <p>From: {{activity.dateStart}}</p>
          <p>To: {{activity.dateEnd}}</p>
        </ion-col>
        <ion-col offset-1 col-4>
          <img src="{{activity.imgUrl}}">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <div float-right>
    <span (click)="showAll('Top search')" >Show All</span>
  </div>

  <br>  

  <div class="title">Near Me</div>
  <ion-card *ngFor="let activity of posts" (click)="openDetails(activity)">
    <ion-grid>
      <ion-row>
        <ion-col col-7>
          <p class="activity-title">{{activity.title}}</p>
          <p>{{activity.location}}</p>
          <p>From: {{activity.dateStart}}</p>
          <p>To: {{activity.dateEnd}}</p>
        </ion-col>
        <ion-col offset-1 col-4>
          <img src="{{activity.imgUrl}}">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <div float-right>
    <span (click)="showAll('Near Me')" >Show All</span>
  </div>

  <br>

  <div class="title">Newest</div>
  <ion-card *ngFor="let activity of posts" (click)="openDetails(activity)">
    <ion-grid>
      <ion-row>
        <ion-col col-7>
          <p class="activity-title">{{activity.title}}</p>
          <p>{{activity.location}}</p>
          <p>From: {{activity.dateStart}}</p>
          <p>To: {{activity.dateEnd}}</p>
        </ion-col>
        <ion-col offset-1 col-4>
          <img src="{{activity.imgUrl}}">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <div float-right>
    <span (click)="showAll('Newest')" >Show All</span>
  </div>

  <div padding>
    <button ion-button block color="button-yellow" style="color: black!important" (click)="searchJob()">Looking for jobs?</button>
  </div>
  
</ion-content>
