<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-2 style="padding-top:10px !important;">
            <ion-buttons>
              <button ion-button (click)="addnewActivity()">
                  <ion-icon><i class="fa fa-plus-circle"></i></ion-icon>
              </button>
            </ion-buttons>
        </ion-col>
        <ion-col col-10>
          <ion-searchbar [(ngModel)]="search" showCancelButton="true" cancelButtonText="Cancel" placeholder="search..." class="search-bar" name="search">
          </ion-searchbar>        
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
  

<ion-content padding>
  <div class="title">Top Search</div>
  <ion-card *ngFor="let activity of activitiesTopSearch" (click)="openDetails(activity)">
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-title>{{activity.title}}</ion-title>
          <p>{{activity.location}}</p>
          <p>{{activity.time}}</p>
        </ion-col>
        <ion-col col-4>
          <img src="{{activity.img}}">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <div float-right>
    <span>Show All</span>
  </div>
  <br>
  <div class="title">Near Me</div>
  <ion-card *ngFor="let activity of activitiesNearMe" (click)="openDetails(activity)">
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-title>{{activity.title}}</ion-title>
          <p>{{activity.location}}</p>
          <p>{{activity.time}}</p>
        </ion-col>
        <ion-col col-4>
          <img src="{{activity.img}}">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <div float-right>
    <span>Show All</span>
  </div>
  <br>
  <div class="title">Newest Post</div>
  <ion-card *ngFor="let activity of activitiesNewest" (click)="openDetails(activity)">
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-title>{{activity.title}}</ion-title>
          <p>{{activity.location}}</p>
          <p>{{activity.time}}</p>
        </ion-col>
        <ion-col col-4>
          <img src="{{activity.img}}">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <div float-right>
    <span>Show All</span>
  </div>
</ion-content>
