
$font-path: "../assets/fonts";


$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:        #000000,
  divide-line:    #f0b6e5,
  theme-active:   rgb(235, 179, 163),
  theme:          #f27847,
  icon:           #1a0480,
  button-yellow:  #f6c278,
  button-special: #8373d1,
  button-index:   #120358,
  button-aqua:    aqua,
  button-blue:    #9dc3f6,
  button-red:     #f68a78,
  searchbar: #f6a788,
);

@import "ionic.theme.default";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";

//color of tab
$tabs-md-background: color($colors, theme);
$tabs-ios-background: color($colors, theme);
$tabs-ios-tab-icon-color: color($colors, icon);
$tabs-md-tab-icon-color: color($colors, icon);
$tabs-ios-tab-icon-size: 35px;
$tabs-md-tab-icon-size: 35px;

//navbar
$toolbar-background: color($colors, theme);

//font family for app
$font-family-md-base: "Geogia";
$font-family-base: "Geogia";
$font-family-ios-base: "Geogia";

//divider line ion-item in ion-list
$list-md-border-color: color($colors, divide-line);

//toggle
$toggle-md-active-color: color($colors, theme);
$toggle-ios-background-color-on: color($colors, theme);
$toggle-md-track-background-color-off: color($colors, theme-active);


