
$font-path: "../assets/fonts";


$app-direction: ltr;


@import "ionic.globals";



$colors: (
  primary:      #488aff,
  secondary:    #32db64,
  danger:       #f53d3d,
  light:        #f4f4f4,
  dark:         #222,
  theme-active: rgb(235, 179, 163),
  theme:        rgb(236, 114, 76),
  icon:         rgb(38, 12, 134),
  button-theme:       rgb(27, 9, 100),
);



@import "ionic.theme.default";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";

//color of tab
$tabs-md-background: color($colors, theme);
$tabs-ios-background: color($colors, theme);
$tabs-ios-tab-icon-color: color($colors, icon);
$tabs-md-tab-icon-color: color($colors, icon);
$tabs-ios-tab-icon-size: 35px;
$tabs-md-tab-icon-size: 35px;

//navbar
$toolbar-background: color($colors, theme);