
$font-path: "../assets/fonts";


$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:        (base:#000000, contrast: #fff),
  divide-line:    (base: #f0b6e5, contrast: #000),
  theme-active:   (base: rgb(235, 179, 163),contrast: #000),
  theme:          (base: #f27847, contrast: #000),
  icon:            (base: #1a0480 ,contrast: #ffffff),
  button-yellow:  (base:#f6c278, contrast: #000),
  button-special:(base: #8373d1, contrast: #fff),
  button-index:   (base: #120358 ,contrast: #ffffff),
  button-aqua:    (base:aqua, contrast: #000),
  button-blue:    (base:#9dc3f6, contrast: #000),
  button-theme:    (base:#9dc3f6, contrast: #000),
  button-red:     (base:#f68a78, contrast: #000),
  searchbar: (base:#f6a788, contrast: #000),
);

@import "ionic.theme.default";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";

//color of tab
$tabs-md-background: color($colors, theme);
$tabs-ios-background: color($colors, theme);
$tabs-ios-tab-icon-color: color($colors, icon);
$tabs-md-tab-icon-color: color($colors, icon);
$tabs-ios-tab-icon-size: 35px;
$tabs-md-tab-icon-size: 35px;

//navbar
$toolbar-background: color($colors, theme);

//font family for app
$font-family-md-base: "Geogia";
$font-family-base: "Geogia";
$font-family-ios-base: "Geogia";

//divider line ion-item in ion-list
$list-md-border-color: color($colors, divide-line);

//toggle
$toggle-md-active-color: color($colors, theme);
$toggle-ios-background-color-on: color($colors, theme);
$toggle-md-track-background-color-off: color($colors, theme-active);


