<ion-header>
  
    <ion-navbar>
      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <ion-title text-left style="padding: 10px">
              <span *ngIf="!editMode">NEW POST</span>
              <span *ngIf="editMode">EDIT POST</span>
            </ion-title>           
          </ion-col>
          <ion-col  col-3 offset-1 class="right-nav-content">
            <ion-buttons style="height: 100%">
              <button ion-button (click)="close()" style="height: 100%">
                <ion-icon class="fa fa-2x fa-times-circle"></ion-icon>
              </button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </ion-navbar>  
  </ion-header>

  <ion-content padding>
    <form #f="ngForm">
      <ion-item>
        <ion-label stacked>Title <span class="requiredStar">(*)</span></ion-label>
        <ion-input required (change)="touch(f)" [(ngModel)]="job.title" type="text" name="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Description <span class="requiredStar">(*)</span> </ion-label>
        <ion-textarea required (change)="touch(f)" type="text" name="details" [(ngModel)]="job.details" #textarea="ngModel"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label stacked>Location <span class="requiredStar">(*)</span> </ion-label>
        <ion-select [(ngModel)]="job.location" 
                    name="location" required 
                    (change)="touch(f)"
                    okText="Choose" cancelText="Back">
          <ion-option value="Helsinki">Helsinki</ion-option>
          <ion-option value="Turku">Turku</ion-option>
          <ion-option value="Tampere">Tampere</ion-option>
          <ion-option value="Oulu">Oulu</ion-option>
          <ion-option value="Kemi">Kemi</ion-option>
        </ion-select>      
      </ion-item>

      <ion-item>
        <ion-label stacked>Requirement <span class="requiredStar">(*)</span></ion-label>
        <ion-input required (change)="touch(f)" [(ngModel)]="job.require" type="text" name="requirement"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label text-wrap fixed slack>Number of workers needed <span class="requiredStar">(*)</span></ion-label>
        <ion-input required (change)="touch(f)" [(ngModel)]="job.employee" type="number" pattern="[0-9]*" name="numOfWork"></ion-input>
      </ion-item>
      <ion-item no-lines><ion-label slack>Working period <span class="requiredStar">(*)</span> </ion-label> </ion-item>
      <ion-item>
        <ion-label>
          From
        </ion-label>
        <ion-datetime required displayFormat="YYYY.MM.DD" name="from" (change)="touch(f)" [(ngModel)]="job.dateStart" pickerFormat="MMMM DD YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>
          To
        </ion-label>
        <ion-datetime required displayFormat="YYYY.MM.DD" name="to" (change)="touch(f)" [(ngModel)]="job.dateEnd" pickerFormat="MMMM DD YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label stacked> Tag </ion-label>
        <ion-tags-input [(ngModel)]="job.tags" (change)="addTags($event)" name="tags"></ion-tags-input>
      </ion-item>  
      <ion-item *ngIf="editMode">
        <ion-label>Mark as done</ion-label>
        <ion-toggle (change)="touch()" [(ngModel)]="workDone" name="workDone"></ion-toggle>
      </ion-item>    
    </form>
    <div *ngIf="!editMode" padding> <!--in edit , cannot replace img-->
      <p class="sub-title form-label" *ngIf="img!=null">Upload image</p>
      <img *ngIf="newActivity.activity_info.img!=null" src="{{newActivity.activity_info.img}}"/>
      <div class="img-upload">
        <button ion-button color="button-theme" (click)="uploadPic()">Choose image</button>
        <input (change)="touch()" [(ngModel)]="job.imgUrl" type="text" name="img" #img>
      </div>    
    </div>
    <div padding *ngIf="!editMode">
      <button ion-button block color="theme" type="submit" (click)="post()" [disabled]="!f.valid" (click)="createJob(job)">POST</button>
    </div>
    <div padding *ngIf="editMode">
      <button ion-button block color="theme" type="submit" (click)="post()" [disabled]="!f.valid">SAVE</button>
    </div>
  </ion-content>