
ion-header {
    ion-icon {
        font-size: 35px;
    }
    button {
        margin: auto
    }
    ion-col {
        text-align: center;
    }
    ion-grid, ion-col {
        padding: 0 !important;
    }
}
