page-user {

    .img {
        margin-bottom: 0;       
    }

    .button-md {
        text-transform: capitalize;
        margin-bottom: 4%;
        font-size: 17px;     
    }

    .button-ios {
        text-transform: capitalize;
        margin-bottom: 4%;
        font-size: 17px;     
    }

    .button-wp {
        text-transform: capitalize;
        margin-bottom: 4%;
        font-size: 17px;     
    }

    .userName {
        margin-top: 0;
        font-size: 25px;
        font-weight: lighter;
    }
}

