<ion-header>

  <ion-navbar>
    <ion-title>Apply to {{activity.activity_info.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding>
    Send to {{activity.belong_to}} a message and your CV to apply to this job
  </div>
  <div padding>
    <ion-buttons>
      <button ion-button color="button-index" half-block (click)="createCV()">Create new resum</button>
      <button ion-button color="button-index" half-block (click)="userCV()">Use own resume</button>
      <button ion-button color="button-index" half-block (click)="uploadCV()">Upload your CV here</button>        
      <p *ngIf="CVurl!=null">{{CVurl}}</p>  
    </ion-buttons>    
  </div>
  <div *ngIf="hasCV">
    uploaded CV: {{CV.CVname}}
  </div>
  <form #f="ngForm" (ngSubmit)="submit()">
    <ion-item no-lines>
      <ion-label stacked>Message</ion-label>
      <ion-textarea rows="5" maxLength="500" [(ngModel)]="message" name="message"></ion-textarea>
    </ion-item>
    <div padding>
      <button ion-button block color="theme" type="submit">SEND</button>
    </div>
  </form>
</ion-content>
