<ion-content padding>
  <h1 text-center>SIGN UP</h1>
  
  <form #f="ngForm" (ngSubmit)="signup(f)">

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input required minlength="5" type="text" name="username" [(ngModel)]="user.username" #username="ngModel" >
      </ion-input>
    </ion-item>
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="validator-error">
    Please enter username with at least 5 characters.
    </div>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input required minlength="4" type="email" name="email" [(ngModel)]="user.user_info.email" #email="ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="validator-error">
      Please enter a valid email.
    </div>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input required minlength="8" type="password" name="password" [(ngModel)]="user.password" #password="ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="validator-error">
      Passwords should be at least 8 characters long.
    </div>

    <ion-item>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input required minlength="8" type="password" name="cfpassword" [(ngModel)]="user.cfpassword" #cfpassword="ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="cfpassword.invalid && (cfpassword.dirty || cfpassword.touched)" class="validator-error">
        You must to type the same password
    </div>

    <ion-item no-lines text-wrap>
      <ion-label>
        By checking this box, you agree with our 
        <span class="link">Term</span> and read our 
        <span class="link">Data Policy</span>
      </ion-label>
      <ion-checkbox [(ngModel)]="agreeTerm" [ngModelOptions]="{standalone: true}" ></ion-checkbox>    
    </ion-item>
    <!--<div *ngIf="!f" class="validator-error">
    You must agree to term to continue
    </div>-->

    <button ion-button block color="theme" type="submit" [disabled]="!f.valid">Sign up</button>

  </form>
  
  <div padding style="font-size: 18px">
    Already had an account? <span (click)="login()">Login here</span>
  </div>
</ion-content>
    