<ion-content padding style ="background: linear-gradient(#c3d2f5, white)"  class="starter-form">
  <div class="logo-holder">
    <img src="./assets/imgs/Logo_slogan.png" alt="">
  </div>
  <h1 text-center>Sign up</h1>
  
  <form #f="ngForm" (ngSubmit)="signup()">

    <ion-item> 
      <ion-label floating>Email</ion-label>
      <ion-input required minlength="4" type="email" name="email" [(ngModel)]="user.email" #email="ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="validator-error">
      Please enter a valid email.
    </div>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input required minlength="8" type="password" name="password" [(ngModel)]="user.password" #password="ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="validator-error">
      Passwords should be at least 8 characters long.
    </div>

    <ion-item>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input required minlength="8" type="password" name="cfpassword" [(ngModel)]="user.cfpassword" #cfpassword="ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="cfpassword.invalid && (cfpassword.dirty || cfpassword.touched)" class="validator-error">
        You must to type the same password
    </div>

    <ion-item no-lines text-wrap text-center>
      <ion-label>
        By checking this box, you agree with our 
        <span class="link-term">Term</span> and 
        <span class="link-term">Data Policy</span>
      </ion-label>
      <ion-checkbox [(ngModel)]="agreeTerm" [ngModelOptions]="{standalone: true}" ></ion-checkbox>    
    </ion-item>

    <button ion-button block color="theme" type="submit" [disabled]="!f.valid">Sign up</button>

  </form>
  
  <div padding style="font-size: 18px" text-center>
    <span (click)="login()" class="link-black">Login?</span>
  </div>

  <div padding class="signIcon" text-center>
    <ion-row>
      <ion-col col-4>
        <button ion-button (click)="facebook()" icon-only clear>
          <ion-icon>
            <i class="fa fa-2x fa-facebook-square"></i>
          </ion-icon>
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button (click)="google()" icon-only clear>
          <ion-icon>
            <i class="fa fa-2x fa-google-plus-square"></i>
          </ion-icon>
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button (click)="linked()" icon-only clear>
          <ion-icon>
            <i class="fa fa-2x fa-linkedin"></i>
          </ion-icon>
        </button>
      </ion-col>        
    </ion-row>     
  </div>
</ion-content>
    