<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-2 text-center>
          <ion-buttons>
            <button ion-button (click)="goHome()">
                <ion-icon><i class="fa fa-home"></i></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col col-4 text-left>
          <ion-title>
            {{job.title}}
          </ion-title>
        </ion-col>
        <ion-col col-6 text-right>
          <span *ngIf="!owner">
            <span class="fa fa-lg fa-heart-o favourite" (click)="addtoFavourite()" #favourite></span>
            <span class="link" (click)="apply()"> Apply </span>
          </span>
          <span *ngIf="owner" class="link" (click)="edit()">Edit</span>
        </ion-col>
      </ion-row>
    </ion-grid>    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="title" text-center>{{job.title}}</p>
  <img class="img-detail" src="{{activity.activity_info.img}}">
  <div>
    <p class="sub-title bold">DESCRIPTION</p>
    <p>{{job.details}}</p>
    <p class="sub-title bold">LOCATION</p>
    <p>{{job.location}}</p>
    <!--TODO code add to view on map-->
    <div id="map" #map></div>
    <p class="sub-title bold">REQUIREMENT</p>
    <p>{{job.requirement}}</p>
    <p class="sub-title bold">PERIOD</p>
    <p>{{job.dayStart}} - {{job.dateEnd}}</p>
    <p class="sub-title bold">Number of workers needed</p>
    <p>{{job.employee}</p>
  </div>
  <div *ngIf="owner">
    <p class="sub-title bold">Number of workers applied</p>
    <p>{{job.applyee}}</p>
    <button ion-button color="button-special" (click)="viewApplications()">View applications</button>
  </div>
  <div>
    <p class="sub-title bold">Tags</p>

    <span *ngFor="let tag of tags"> 
      <ion-badge color="icon">{{tag}}</ion-badge>
      <span> &nbsp; </span>
    </span>
  </div>


</ion-content>
